<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">租借ID</label>
        <div class="layui-input-block">
            <input class="layui-input" type="text" name="id" placeholder="1,2,3...">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input value="0" name="borrowed" title="租借" type="radio" checked>
            <input value="1" name="borrowed" title="归还" type="radio">
        </div>
    </div>
    <div class="layui-form-item">
        <input lay-submit value="提交" id="borrow" class="layui-btn" type="button">
    </div>
</form>